# 这是一个Pandas的演示项目

In [ ]:
!pip install -r requirements.txt

In [ ]:
import pandas as pd

# store passenger data of the Titanic
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(df)

In [ ]:
ages = pd.Series([22, 35, 58], name = "Age")
print(ages)

In [ ]:
print(df["Age"].max())
print(ages.max())

In [ ]:
titanic = pd.read_csv("data/titanic_utf8.csv")
print(titanic.head())
print(titanic.tail(10))

In [22]:
print(titanic.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [25]:
titanic.to_excel("titanic_text.xlsx", sheet_name = 'passengers', index=False)